{% extends "base.html" %}

{% block title %}Hakkında{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto mt-12 px-4">
    <h2 class="text-3xl font-bold text-center mb-4">Bu Proje Hakkında</h2>
    <p class="text-lg text-center text-gray-700">
        Bu uygulama, kullanıcıların özelleştirilebilir sentetik veri setleri üretmesini sağlayan bir web platformudur.
        Gerçek verilerin gizliliğini ihlal etmeden test, eğitim ve analiz amaçlı veri oluşturmayı amaçlar.
    </p>
</div>
{% endblock %}
